* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html,
body {
  background: rgb(14, 13, 13);
  margin: none;
  height: 100%;
  padding: 0%;
  font-family: 'poppins', sans-serif;
}

p {
  margin: 0;
}

.nav_bar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 3.5vh;
  left: 1vh;
  right: 2vh;
  color: whitesmoke;
}

.nav_logo {
  flex: 1;
  display: flex;
  justify-content: start;
  padding-left: 2.5vh;
}

.nav_items {
  flex: 2;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.nav_items li {
  text-decoration: none;
}

.home_description {
  width: 100%;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: whitesmoke;
  color: transparent;
}

.nav_items li,
.contact_items {
  cursor: pointer;
}

.home_container {
  background: linear-gradient(50deg, #fab2ff, #62cff4, #2bff88);
  background-size: 300% 300%;
  animation: color 6s ease-in infinite;
  height: 100vh;
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bolder;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

span {
  -webkit-text-stroke-width: 0px;
  color: whitesmoke;
}

.about_container {
  background: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15vh;
  padding-bottom: 8vh;
}

.about_head,
.about_description,
.about_photo {
  color: rgb(35, 35, 35);
  text-align: center;
}

.about_head {
  display: inline-flex;
  justify-content: center;
  flex: 1;
  height: 20px;
  border-radius: 10px;
}

.about_description {
  flex: 2;
  margin: 4vh;
}

.about_photo {
  flex: 1;
  justify-content: center;
  border-radius: 100px;
  /* filter: grayscale(90%); */
}

.contact_container {
  color: whitesmoke;
  height: 70vh;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.contact_ready {
  font-size: 2rem;
  font-weight: 400;line-height: 5.5rem;
}

.contact_work {
  font-size: 5rem;
  font-weight: 700;line-height: 5.5rem;
  transition: all 0.3s ease-out;

}


.contact_work:hover{
  font-size: 6rem;
  transition: all 0.3s ease-out;
}

.contact_items {
  height: 10vh;
  width: 30vw;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-style: none;
  text-decoration: none;
}

.contact_id{
  text-decoration: none;
  color: aliceblue;
}

.contact_id::after,
.nav_id::after{
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.contact_id:hover::after,
.nav_id:hover::after {
  transform: scaleX(1);
}

@media only screen and (max-width: 768px)
{

  .about_container{
    flex-direction: column;
    padding-top: 10vh;
    padding-bottom: 8vh;
  }

  .photo{
    height: 35vh;
    width: 59vw;
  }
  .about_description,.about_photo{
    padding-top: 5vh;
  }
  .contact_container{
    height: 60vh;
  }
  .contact_items{
    width: 100%;
    display: flexbox;
    justify-content: space-around;
  }
  
  .contact_ready{
    font-size: 1rem;
  }

  .contact_work{
    font-size: 2rem;
  }
  .contact_work:hover{
    font-size: 2.3rem;
    }
}