* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html,
body {
  background: #0B0C10;
  margin: none;
  height: 100%;
  padding: 0%;
  font-family: 'poppins' ;
}

p {
  margin: 0;
}

header{
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 3.5vh;
  left: 1vh;
  right: 2vh;
  color: rgb(15, 164, 175);
  font-weight: 600;
}

header a {
  flex: 1;
  display: flex;
  justify-content: start;
  padding-left: 2.5vh;
  text-decoration: none;
}

 
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex : 2;
}
nav a {
  text-decoration: none;
  color: rgb(15, 164, 175);

}
nav a.active {
  color: #C5C6C7;
}

.nav_items a,
.contact_items {
  cursor: pointer;
}

.home_description {
  width: 100%;
  font-weight: 700;
  font-size: 5rem;
  line-height: 5rem;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #66FCF1;
  color: transparent;
}

.home_container {
  /* background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);
  background-size: 300% 300%; */
  animation: color 7s ease-in-out infinite;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}
/* 
@keyframes color {
  0% {
    background-position: 0% 40%;
  }

  50% {
    background-position: 40% 60%;
  }

  75% {
    background-position: 60% 20%;
  }

  100% {
    background-position: 20% 0%;
  }
} */

span {
  -webkit-text-stroke-width: 0px;
  color: whitesmoke;
}

.about_container {
  /* background: rgb(15, 164, 175); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15vh;
  padding-bottom: 8vh;
}

.about_head{
  color: #66FCF1;
  display: flex;
  flex-direction: column;
  flex: 2;
}
.about_lable{
  font-size: 1.5rem;
  font-weight: 700;
  margin: 5vh;
}
.about_description {
  color: #C5C6C7;
  text-align: center;
  font-size: 1.1rem;
}


.about_description {
  flex: 2;
  margin: 4vh;
  font-size: 2.5rem;
}

.about_photo {
  flex: 1;
  padding-left:2vh;
  border-radius: 15px;
  filter: grayscale(70%);
  transition: all 0.3s ease;
}
.about_photo:hover{
  filter: grayscale(5%);
}
#project{
  /* background-color: rgb(31, 31, 31); */
  align-items: center;
  color: whitesmoke;
}

.project_items{
  display: grid;
  
  background: green;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin: 2vh;
}

.project_item{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.5vh;
}

.project_main{
  display: flex;
  flex-direction: column;
  flex: 2;
}

.project_img{

}


.contact_container {
  color: whitesmoke;
  height: 70vh;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_ready {
  font-size: 2rem;
  font-weight: 400;line-height: 5.5rem;
}

.contact_work {
  font-size: 5rem;
  font-weight: 700;line-height: 5.5rem;
  transition: all 0.3s ease-out;

}


.contact_work:hover{
  font-size: 6rem;
  transition: all 0.3s ease-out;
}

.contact_items {
  height: 10vh;
  width: 30vw;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-style: none;
  text-decoration: none;
}

.contact_id{
  text-decoration: none;
  color: aliceblue;
}

.contact_id::after,
.nav_id::after{
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.contact_id:hover::after,
.nav_id:hover::after {
  transform: scaleX(1);
}

@media only screen and (max-width: 768px)
{

  .about_container{
    flex-direction: column;
    padding-top: 10vh;
    padding-bottom: 8vh;
  }

  .photo{
    height: 35vh;
    width: 59vw;
  }
  .about_description,.about_photo{
    padding-top: 5vh;
  }
  .contact_container{
    height: 60vh;
  }
  .contact_items{
    width: 100%;
    display: flexbox;
    justify-content: space-around;
  }
  
  .contact_ready{
    font-size: 1rem;
  }

  .contact_work{
    font-size: 2rem;
  }
  .contact_work:hover{
    font-size: 2.3rem;
    }
}
